.embed-map .block.maps .maps-inner {
  margin-bottom: 1rem;
}

.has--size--full {
  .block.maps > .visualization-toolbar,
  .block.maps + .block.metadata.figure_note {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.ui.modal.enlarge-modal.enlarge-embed-maps {
  .content,
  .content .block.maps,
  .content .block.maps .maps-inner,
  .privacy-protection-wrapper {
    height: 100% !important;
  }

  .close.icon {
    top: 2rem;
    right: 2rem;
  }
}
