.privacy-protection {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #eee;
  text-align: center;
}

.privacy-button {
  margin-top: 2rem;
}

.privacy-toggle {
  margin: 0.4rem auto 2rem auto;
}
